{% extends "layout.html" %}
{% block content %}
<div style="background-color:rgb(255, 255, 255); border:solid 1px; border-radius:2%; padding:15px; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-weight:bold" >
    <h4>All Posts</h4>
    {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{'https://s3.us-east-1.amazonaws.com/ece1779-a3-s3-images/static/profile_pics/'+post.author.image_file}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
              <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
              <img src="{{'https://s3.us-east-1.amazonaws.com/ece1779-a3-s3-images/static/post_pics/'+post.image_file}}" class="img-fluid" style="width: 256px">
          </div>
        </article>
    {% endfor %}


</div>
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}